/* ===============================================
 * =Base Styles
 * =============================================== */

html {
  font-size: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: #faf6f1;
  color: #4A4A4C;
  font: normal 100% "adobe-caslon-pro";
}

h1 {
  color: #f33d36;
  font: bold 3.5rem "futura-pt";
  font-weight: 700;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
}

h2 {
  color: #f33d36;
  font: bold 3rem "futura-pt";
  font-weight: 700;
  margin-bottom: 0.875rem;
  text-transform: uppercase;
}

h3 {
  color: #f33d36;
  font: bold 1.5rem "futura-pt";
  font-weight: 700;
  margin-bottom: 0.875rem;
  /* text-transform: uppercase; */
}

p {
  font-size: 1.1875rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

.column:first-child {
  margin-left: 0;
}

/* ===============================================
 * =Layout
 * =============================================== */

.logo {
  display: inline-block;
  max-width: 579px;
  width: 90%;
}

.sponsors {
  display: block;
  margin: 1.875rem auto 0;
  max-width: 442px;
  width: 90%;
}

.row {
  clear: both;
}

.column {
  float: left;
  margin-left: 2%;
}

header {
  background: #eee;
  border-bottom: 1px solid rgba(255,255,255,1);
  height: 100%;;
  padding: 1.25rem 0;
  width: 100%;
}

.navigation {
  text-align: center;
}

.navigation a {
  color: #ccc;
  font: bold 1rem "futura-pt";
  margin-left: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation a:first-child {
  margin-left: 0;
}

.welcome {
  background: url("../images/hero-image-4.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.footer {
  background: #f2eee9;
}

.footer h3 {
  color: #c8c1b9;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer p {
  color: #c8c1b9;
  font: bold 1rem "futura-pt";
  margin: 0;
}

/* =========================================
 * Modules
 * ========================================= */

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.one-half {
  width: 49%;
}

.one-third {
  width: 32%;
}

.one-fourth {
  width: 23.5%%;
}

.two-thirds {
  width: 66%;
}

.full {
  width: 100%;
}

.gradient {
  background-image: -o-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -moz-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -webkit-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -ms-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: linear-gradient(to bottom, #E0593E 0%, #F73B38 100%);
}

.row-padding {
  padding: 5rem 0;
}

.row-padding-bottom {
  padding: 0 0 5rem;
}

.row-padding-large {
  padding: 8rem 0;
}

.row-padding-medium {
  padding: 1.875rem 0;
}

.row-padding-small {
  padding: 0.875rem 0;
}

.headline-border {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.event-images {
  display: inline-block;
  max-width: 650px;
  width: 90%;
}

.event-list li {
  background: #f2eee9;
}

.center-block {
  margin: 0 auto; 
}

.share li {
  display: inline-block;
  margin-right: 0.2em;
  padding-bottom: 0.875rem;
}

.dented-bg {
  background: #f2eee9;
  border-radius: 5px;
  -moz-box-shadow:    inset 0 0 8px #d2cbc2;
  -webkit-box-shadow: inset 0 0 8px #d2cbc2;
  box-shadow:         inset 0 0 8px #d2cbc2;
  margin: 1rem 0 0 0;
  padding: 2rem 1rem;
}

.event-details p {
  font: normal 1em "futura-pt";
  margin: 0.875rem 0 0 0;
}

.event-details span {
  display: block;
}

.prev-btn, .next-btn {
  background: #f2eee9;
  border-radius: 5px;
  color: #a8a39d;
  display: inline-block;
  font: bold 1rem "futura-pt";
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.speak-easy-bg {
  background: url("../images/speak-easy-bg.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.maker-bg {
  background: url("../images/maker-bg-2.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.windy-city-bg {
  background: url("../images/windy-city-bg.jpg") no-repeat fixed center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* =========================================
 * Typography
 * ========================================= */

.unbold {
  font-weight: normal;
}

.break {
  display: block;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.headliner {
  border-top: 2px solid #f0c290;
  border-bottom: 2px solid #f0c290;
}

.column-layout-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 2.5rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 2.5rem; /* Firefox */
  column-gap: 2.5rem;
}

.medium-text {
  font-size: 1.5rem;
}

/* =========================================
 * Buttons
 * ========================================= */

.button {
  background: #888;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #f2eee9;
  display: inline-block;
  font: bold 1.5rem "futura-pt";
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem 9rem;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background: #999;
}

.register-btn {
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-bottom: 3px solid #c11714;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 1rem "futura-pt";
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.875rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.register-btn:hover {
  background-image: -o-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -moz-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -webkit-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -ms-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: linear-gradient(to bottom, #F73B38 0%, #E0593E 100%);
}

/* =========================================
 * Helpers
 * ========================================= */

.margin-bottom-10 {
  margin-bottom: 0.625rem;
}

.margin-bottom-20 {
  margin-bottom: 1.25rem;
}

.side-padding {
  padding: 0 8rem;
}

.side-padding-small {
  padding: 0 2rem;
}

.reverse-float {
  float: right;
}

.margin-right-10 {
  margin-right: 10px;
}

.text-align-right {
  text-align: right;
}

.right-padding {
  padding-right: 2rem;
}

.padding-top-2 {
  margin-top: 2rem;
}

/* =========================================
 * Guide
 * ========================================= */

.guide {
  margin: 0 auto;
  max-width: 1200px;;
  width: 90%;
}

.guide .one-half, .guide .one-fourth, .guide .one-third, .guide .two-thirds, .guide .full {
  background: #aaa;
}

/* =========================================
 * Media Queries
 * ========================================= */

@media screen and (max-width: 600px) {
  .one-fourth {
    width: 100%;
  }

  .two-thirds {
    width: 100%;
  }

  .right-padding {
    padding-right: 0;
  }

  .two-thirds.column {
    margin-left: 0;
    margin-top: 1.875rem;
  }
  
  .reverse-float {
    float: 0;
  }
}

/* =========================================
 * Clearfix
 * ========================================= */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
