/* ===============================================
 * =Base Styles
 * =============================================== */

html {
  font-size: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  background: #faf6f1;
  color: #4A4A4C;
  font: normal 100% "adobe-caslon-pro";
  height: 100%;
}

h1 {
  color: #f33d36;
  font: bold 3.5rem "futura-pt";
  font-weight: 700;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
}

h2 {
  color: #f33d36;
  font: bold 3rem "futura-pt";
  font-weight: 700;
  margin-bottom: 0.875rem;
  text-transform: uppercase;
}

h2 a {
  color: #f33d36;
  text-decoration: none;
}

h3 {
  color: #f33d36;
  font: bold 1.5rem "futura-pt";
  font-weight: 700;
  margin-bottom: 0.875rem;
  /* text-transform: uppercase; */
}

a {
  color: #F33D36;
  font-weight: 700;
}

a:hover {
  color: #FF5952;
}

p {
  font-size: 1.1875rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}

.column:first-child {
  margin-left: 0;
}

.next-btn:hover, .prev-btn:hover {
  background: #f2ede7;
}

.event-intro p {
  margin-bottom: 0;
}

.column .badges {
  padding: 0 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.main-nav ul {
  font-family: "futura-pt";
  font-size: 1rem;
  font-weight: 700;
  padding: 2rem;
}

.main-nav ul li img {
  margin-right: 0.3rem; vertical-align: middle;
}

.main-nav ul li {
  margin-bottom: 2rem;
  vertical-align: bottom;
}

.main-nav ul li a {
  color: #fff;
  text-decoration: none;
  vertical-align: bottom;
}

.main-nav ul li a:hover {
  color: #aaa;
}

.register-btn:hover {
  background-image: -o-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -moz-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -webkit-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: -ms-linear-gradient(bottom, #F73B38 0%, #E0593E 100%);
  background-image: linear-gradient(to bottom, #F73B38 0%, #E0593E 100%);
  color: #fff;
}

/* ===============================================
 * =Layout
 * =============================================== */

.logo {
  display: inline-block;
  max-width: 579px;
  width: 90%;
}

.logo-medium {
  display: block;
  margin: 0 auto;
  max-width: 271px;
  width: 90%;
}

.extra-small-sponsors {
  display: block;
  margin: 1rem auto 0;
  max-width: 300px;
  width: 90%;
}

.sponsors-logo {
  display: block;
  margin: 1.875rem auto 0;
  max-width: 442px;
  width: 90%;
}

.large-sponsor-list {
  text-align: center;
}

.eight-light-logo, .table-xi-logo, .dev-mynd-logo, .dbc-logo {
  width: 100%;
}

.eighth-light-logo {
  max-width: 100px;
}

.table-xi-logo {
  margin-top: 35px;
  max-width: 180px;
}

.dev-mynd-logo {
  margin-top: 45px;
  max-width: 180px;
}

.dbc-logo {
  margin-top: 30px;
  max-width: 180px;
}

.row {
  clear: both;
}

.column {
  float: left;
  margin-left: 2%;
}

.column-reverse {
  float: left;
  margin-right: 2%;
}

header {
  background: #eee;
  border-bottom: 1px solid rgba(255,255,255,1);
  height: 100%;;
  padding: 1.25rem 0;
  width: 100%;
}

.navigation {
  text-align: center;
}

.navigation a {
  color: #ccc;
  font: bold 1rem "futura-pt";
  margin-left: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation a:first-child {
  margin-left: 0;
}

.main-content {
  width: 80%;
}

.main-navigation {
  background: red;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
}

.welcome {
  background: url("../images/hero-image-4.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.footer {
  background: #f2eee9;
}

.footer h3 {
  color: #c8c1b9;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer p {
  color: #c8c1b9;
  font: bold 1rem "futura-pt";
  margin: 0;
}

.menu {
  font-family: "futura-pt";
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.875rem 2rem;
  text-align: right;
  text-transform: uppercase;
}

/* =========================================
 * Modules
 * ========================================= */

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.one-half {
  width: 49%;
}

.one-third {
  width: 32%;
}

.one-fourth {
  width: 23.5%%;
}

.two-thirds {
  width: 66%;
}

.full {
  width: 100%;
}

.gradient {
  background-image: -o-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -moz-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -webkit-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: -ms-linear-gradient(bottom, #E0593E 0%, #F73B38 100%);
  background-image: linear-gradient(to bottom, #E0593E 0%, #F73B38 100%);
}

.row-padding {
  padding: 5rem 0;
}

.row-padding-special {
  padding: 5rem 0 1rem 0;
}

.row-padding-bottom { 
  padding: 0 0 5rem;
}

.row-padding-large {
  padding: 8rem 0;
}

.row-padding-medium {
  padding: 1.875rem 0;
}

.row-padding-small {
  padding: 0.875rem 0;
}

.row-padding-small-special {
  padding: 0.875rem 0 5rem 0;
}

.headline-border {
  border-bottom: 1px solid #f2eee9;
}

.event-images {
  display: inline-block;
  max-width: 650px;
  width: 90%;
}

.event-list li {
  background: #f2eee9;
}

.center-block {
  margin: 0 auto; 
}

.share li {
  display: inline-block;
  margin-right: 0.2em;
  padding-bottom: 0.875rem;
}

.fb_iframe_widget span {
  margin-top: -4px;
  vertical-align: top !important;
}

.dented-bg {
  background: #f2eee9;
  border-radius: 5px;
  -moz-box-shadow:    inset 0 0 8px #d2cbc2;
  -webkit-box-shadow: inset 0 0 8px #d2cbc2;
  box-shadow:         inset 0 0 8px #d2cbc2;
  margin: 1rem 0 0 0;
  padding: 2rem 1rem;
}

.event-details p {
  font: normal 1em "futura-pt";
  margin: 0.875rem 0 0 0;
}

.event-details span {
  display: block;
}

.prev-btn, .next-btn {
  background: #ece7e2;
  border-radius: 5px;
  color: #a8a39d;
  display: inline-block;
  font: bold 1rem "futura-pt";
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.speak-easy-bg {
  background: url("../images/speak-easy-bg.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100%;
  text-align: center;
}

.maker-bg {
  background: url("../images/maker-bg-2.jpg") no-repeat center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.windy-city-bg {
  background: url("../images/windy-city-bg.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.badges {
  max-width: 250px;
  width: 100%;
}

.date_time {
  font-family: "futura-pt";
  font-weight: 700;
  padding-bottom: 1rem;
}

.sub_headline {
  font-family: "futura-pt";
  font-size: 2rem;
  font-weight: 700;
}


.small_sub_headline {
  font-family: "futura-pt";
  font-size: 1.1rem;
  font-weight: 700;
}

/* =========================================
 * Typography
 * ========================================= */

.unbold {
  font-weight: normal;
}

.break {
  display: block;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.headliner {
  border-top: 2px solid #f0c290;
  border-bottom: 2px solid #f0c290;
}

.column-layout-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 2.5rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 2.5rem; /* Firefox */
  column-gap: 2.5rem;
}

.medium-text {
  font-size: 1.5rem;
}

/* =========================================
 * Buttons
 * ========================================= */

.register-btn {
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-bottom: 3px solid #c11714;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 1rem "futura-pt";
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.875rem;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* =========================================
 * Helpers
 * ========================================= */

.margin-bottom-10 {
  margin-bottom: 0.625rem;
}

.margin-bottom-20 {
  margin-bottom: 1.25rem;
}

.side-padding {
  padding: 0 10%;
}

.side-padding-small {
  padding: 0 2rem;
}

.reverse-float {
  float: right;
}

.margin-right-10 {
  margin-right: 10px;
}

.text-align-right {
  text-align: right;
}

.right-padding {
  padding-right: 2rem;
}

.padding-top-2 {
  margin-top: 2rem;
}

.reverse-padding {
  padding-left: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

/* =========================================
 * Off Canvas Menu
 * ========================================= */

.page-wrap {
  width: 100%;
  transition: width 0.3s ease;
}

.main-nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #191918;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 100;
}

.close-menu {
  display: none;
}

#main-nav:target {
  width: 300px;
}

#main-nav:target + .page-wrap {
  width: 100%;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .close-menu {
  display: block;
}
#main-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}

/* =========================================
 * Media Queries
 * ========================================= */

@media screen and (max-width: 768px) {
  .event-intro .one-third {
    text-align: center;
    width: 100%;
  }

  .event-intro .two-thirds {
    width: 100%;
  }

  .event-intro .column {
    margin-left: 0;
  }

  .event-intro .column-reverse {
    margin-right: 0;
  }

  .event-intro .two-thirds.column, .event-intro .two-thirds.column-reverse {
    margin-left: 0;
    margin-top: 1.875rem;
  }

  .maker-bg, .speak-easy-bg, .windy-city-bg, .welcome {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 680px) {
  .navigation a {
    display: block;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1, h2 {
    font-size: 2.2rem;
  }

  .one-fourth {
    width: 100%;
  }

  .speak-easy .two-thirds, .maker .two-thirds, .windy-city .two-thirds {
    width: 100%;
  }

  .right-padding {
    padding-right: 0;
  }

  .reverse-float {
    float: 0;
  }

  .footer {
    text-align: center;
  }

  .footer .column {
    margin-left: 0;
  }

  .one-third {
    width: 100%;
  }

  .footer .text-right {
    text-align: center;
  }

  .medium-text {
    font-size: 1.1875rem;
  }

  .side-padding {
    padding: 0;
  }

  .two-thirds.column, .two-thirds.column-reverse {
    margin-left: 0;
    margin-top: 1.875rem;
  }

  .sub_headline {
    font-size: 1.5rem;
  }

  .large-sponsor-list .column {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .share {
    text-align: center;
  }

  .one-half.column {
    margin-left: 0;
  }

  .one-half {
    width: 100%;
  }

  .prev-btn, .next-btn {
    text-align: center;
    width: 49.3%;
  }

  .headline-border {
    padding-bottom: 1rem;
  }
}

/* =========================================
 * Clearfix
 * ========================================= */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
