<p>
"<a href="https://www.flickr.com/photos/mike_miley/11230039975/">80th Anniversary of Repeal</a>" by H. Micaheal Miley, used under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY</a> / Saturated from original
</p>

<p>
"<a href="https://www.flickr.com/photos/jarchie/3548706347/">1954-A033026</a>" by Joe and Jeanette Archie, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> / Saturated from original
</p>

<p>
"<a href="https://www.flickr.com/photos/rich701/8110384009/in/photolist-dmFQB4-dmFMzU-dmFgCw-dmFuc4-dJceKa-dmFK76-ein48s-dvDFA6-dmFap6-dJc9BD-dmFNJ4-dmFniK-dmF4hX-dJhELA-dvKqa3-dmFrhn-dmFhfw-dmFuui-dvDQ3B-dJcboM-dvKeph-eintzN-dmFs4R-dmFKT4-dvKrA7-dvDvCc-dvDHuX-dvDJwz-dmFsXb-dvDC58-dvDyEV-dvDxkg-dmFSVr-dmFM5c-dvK7YS-dvDMfP-dvKcW7-dvDCMc-dmFtPi-dvDSvF-dmF5LR-dmFqDm-dmFPKo-dmF6qH-dvK9x5-dmFQ6w-dvDzHi-dmFpCP-dmFsqL-dmF9SP">Carpenters and Masons</a>" by Richard, used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a> / Saturated from original
</p>
