<div class="row row-padding-bottom center maker-bg">
  <div class="row row-padding-medium">
    <div class="container full navigation">
      <a href="/">Home</a>
      <a href="speak-easy.html">Speak Easy Night</a>
      <a href="maker.html">Maker Night</a>
      <a href="windy-city.html">Windy City Night</a>
    </div>
  </div>
  <%= image_tag 'maker-2.png', :class => 'event-images padding-top-2' %>
  <%= image_tag 'sponsors-3.png', :class=> 'sponsors' %>
</div>

<div class="row row-padding-medium">
  <div class="container clearfix" style="border-bottom: 1px solid #f2eee9;">
    <ul class="one-half column share">
      <li><a href="#"><img src="images/facebook-share-icon.png"></a></li>
      <li><a href="#"><img src="images/twitter-share-icon.png"></a></li>
      <li><a href="#"><img src="images/linkedin-share-icon.png"></a></li>
      <li><a href="#"><img src="images/google-share-icon.png"></a></li>
    </ul>

    <div class="one-half column text-right">
      <a href="speak-easy.html" class="prev-btn">Previous</a>
      <a href="windy-city.html" class="next-btn">Next</a>
    </div>
  </div>
</div>

<div class="row row-padding-small clearfix">
  <div class="container">
    <div class="one-fourth column">
      <h3>Details</h3>
      <div class="event-details">
        <p>
          <span><strong>When:</strong></span> April 23, 2014
          <span>6pm - 9pm</span>
        </p>
        <p>
          <span><strong>Where</strong>:<span>
          <span>Dev Bootcamp</span>
          <span>351 W Hubbard St</span>
          <span>Chicago, IL 60654</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/351+W+Hubbard+St/@41.889911,-87.637657,14z/data=!4m2!3m1!1s0x880e2cb611081b97:0x424149647242f83e?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Overflow/After:</strong></span>
          <span>The Grid</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/The+Grid/@41.889916,-87.637565,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb60e39b5ad:0x6f898e0fda2f99b1?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Events</strong>:<span>
          <span>Lego Hacking</span>
          <span>3D Printing</span>
          <span>Printing Press</span>
        </p>
        <a class="register-btn gradient">Buy Tickets</a>
      </div>
    </div>

    <div class="two-thirds column right-padding reverse-float">
      <h2>Maker Night</h2>
      <p>Just two decades after the Great Fire, Chicago was an unlikely host for the World’s Fair. But the city’s craftsmen pulled it off, constructing fairgrounds that sparkled so bright it was dubbed the White City. The area’s engineers showcased prototypes of the technology of the future: dishwashers, fluorescent lightbulbs, and Pabst Blue Ribbon were the supporting acts for the world’s first Ferris Wheel.</p>
      <p>Chicago was an unlikely candidate to host the World’s Fair in 1890. But just two decades after the Great Fire, the city’s craftsmen constructed the fairgrounds that came to be known as the White City and made the World’s Fair a major success. In addition to the sparkling architecture that was said to serve as an influence in L. Frank Baum’s Emerald City, the Fair also hosted prototypes of such revolutionary appliances as the dishwasher and fluorescent lightbulbs. It served as the introduction for noteworthy brands like Juicy Fruit Gum and Pabst Blue Ribbon, and boasted the world’s first Ferris Wheel.</p>
      <p>Even today, Chicago continues to embody this spirit of impressive construction. At this event, you’ll be invited to participate in a LEGO hackathon, help try to make a robot, or create a bust of your own head using 3-D printing technology. We’ll also have local artists to doodle your portrait, and a movable type available to make your own press kit.</p>
    </div>
  </div>
</div>
