---
title: Maker Night
---

<div class="row row-padding-bottom center maker-bg">
  <div class="row menu">
    <a href="#main-nav" class="open-menu">Menu <i class="fa fa-bars"></i></a>
    <a href="#" class="close-menu">Menu <i class="fa fa-bars"></i></a>
  </div>

  <!-- <div class="row row&#45;padding&#45;medium"> -->
  <!--   <div class="container"> -->
  <!--     <div class="full navigation"> -->
  <!--       <a href="/">Home</a> -->
  <!--       <a href="speak&#45;easy.html">Speak Easy Night</a> -->
  <!--       <a href="maker.html">Maker Night</a> -->
  <!--       <a href="windy&#45;city.html">Windy City Night</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <%= image_tag 'maker-2.png', :class => 'event-images padding-top-2' %>
  <%= image_tag 'sponsors-3.png', :class=> 'sponsors' %>
</div>

<div class="row row-padding-small">
  <div class="container clearfix headline-border">
    <ul class="one-half column share">
      <li><div class="fb-share-button" data-type="button"></div></li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <!-- <li><a href="#"><img src="images/facebook&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/twitter&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/linkedin&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/google&#45;share&#45;icon.png"></a></li> -->
    </ul>

    <div class="one-half column text-right">
      <a href="speak-easy.html" class="prev-btn">Previous</a>
      <a href="windy-city.html" class="next-btn">Next</a>
    </div>
  </div>
</div>

<div class="row row-padding-small clearfix">
  <div class="container">
    <div class="one-fourth column">
      <h3>Details</h3>
      <div class="event-details">
        <p>
          <span><strong>When:</strong></span> April 23, 2014
          <span>6pm - 9pm</span>
        </p>
        <p>
          <span><strong>Where</strong>:<span>
          <span>Dev Bootcamp</span>
          <span>351 W Hubbard St</span>
          <span>Chicago, IL 60654</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/351+W+Hubbard+St/@41.889911,-87.637657,14z/data=!4m2!3m1!1s0x880e2cb611081b97:0x424149647242f83e?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Food</strong>:<span>
          <span>Chicago style pizza and beer will be provided.</span>
        </p>
        <p>
          <span><strong>Overflow/After:</strong></span>
          <span>The Grid</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/The+Grid/@41.889916,-87.637565,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb60e39b5ad:0x6f898e0fda2f99b1?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Events</strong>:<span>
          <span>Lego Hacking</span>
          <span>3D Printing</span>
          <span>Printing Press</span>
        </p>
        <a class="register-btn gradient" href="https://www.eventbrite.com/e/city-of-broad-shoulders-maker-night-tickets-11191238295">Buy Tickets</a>
      </div>
    </div>

    <div class="two-thirds column right-padding reverse-float">
      <h2>Maker Night</h2>
      <p>Chicago was an unlikely candidate to host the World’s Fair in 1890. But just two decades after the Great Chicago Fire, the city’s craftsmen constructed fairgrounds that sparkled so bright it came to be known as the White City. In addition to the dazzling architecture that was said to serve as an influence in L. Frank Baum’s Emerald City, the Fair also hosted prototypes of such revolutionary appliances as the dishwasher and fluorescent lightbulbs. It served as the introduction for noteworthy brands like Juicy Fruit Gum and Pabst Blue Ribbon, and boasted the world’s first Ferris Wheel.</p>
      <p>While much of the World’s Fair architecture was intentionally built to be temporary, a few buildings still stand today. The Palace of Fine Arts hosted the Field Museum until it moved to its current, larger location in 1921; and has hosted the Museum of Science and Industry since 1933. Meanwhile, the World’s Congress Auxiliary Building is now known as the Art Institute of Chicago.</p>
      <p>Chicago continues to embody this spirit of impressive craftsmanship. At this event, you’ll be invited to participate in a LEGO hackathon, help try to make a robot, or create a bust of your own head using 3-D printing technology provided by the Field Museum. We’ll also have a local artist on hand to doodle your portrait, and a movable type to make your own press kit.</p>
    </div>
  </div>
</div>
