---
title: Speak Easy Night
---

<div class="row row-padding-bottom center speak-easy-bg">
  <div class="row menu">
    <a href="#main-nav" class="open-menu">Menu <i class="fa fa-bars"></i></a>
    <a href="#" class="close-menu">Menu <i class="fa fa-bars"></i></a>
  </div>

  <!-- <div class="row row&#45;padding&#45;medium"> -->
  <!--   <div class="container"> -->
  <!--     <div class="full navigation"> -->
  <!--       <a href="/">Home</a> -->
  <!--       <a href="speak&#45;easy.html">Speak Easy Night</a> -->
  <!--       <a href="maker.html">Maker Night</a> -->
  <!--       <a href="windy&#45;city.html">Windy City Night</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <%= image_tag 'speak-easy-2.png', :class => 'event-images padding-top-2' %>
  <%= image_tag 'sponsors-3.png', :class=> 'sponsors' %>
</div>

<div class="row row-padding-medium">
  <div class="container clearfix headline-border">
    <ul class="one-half column share">
      <li><div class="fb-share-button" data-type="button"></div></li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <!-- <li><a href="#"><img src="images/facebook&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/twitter&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/linkedin&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/google&#45;share&#45;icon.png"></a></li> -->
    </ul>

    <div class="one-half column text-right">
      <a href="maker.html" class="next-btn">Next</a>
    </div>
  </div>
</div>

<div class="row row-padding-small clearfix">
  <div class="container">
    <div class="one-fourth column">
      <h3>Details</h3>
      <div class="event-details">
        <p>
          <span><strong>When:</strong></span> April 22, 2014
          <span>6pm - 9pm</span>
        </p>
        <p>
          <span><strong>Where</strong>:<span>
          <span>Dev Bootcamp</span>
          <span>351 W Hubbard St</span>
          <span>Chicago, IL 60654</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/351+W+Hubbard+St/@41.889911,-87.637657,14z/data=!4m2!3m1!1s0x880e2cb611081b97:0x424149647242f83e?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Food</strong>:<span>
          <span>Chicago style pizza and beer will be provided.</span>
        </p>
        <p>
          <span><strong>Overflow/After:</strong></span>
          <span>The Grid</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/The+Grid/@41.889916,-87.637565,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb60e39b5ad:0x6f898e0fda2f99b1?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Events</strong>:<span>
          <span>Black Jack</span>
          <span>Werewolf</span>
          <span>Munchkin</span>
        </p>
        <a class="register-btn gradient" href="http://www.eventbrite.com/e/city-of-broad-shoulders-speak-easy-night-tickets-11190068797">Buy Tickets</a>
      </div>
    </div>

    <div class="two-thirds column right-padding reverse-float">
      <h2>Speak Easy Night</h2>
      <p>During the Prohibition Era, Chicago was the engine that powered the Roaring ’20s. Although alcohol production, distribution, and consumption all became illegal with the ratification of the 18th Amendment, Bugs Moran and Al Capone ran opposing organized crime syndicates on Chicago’s north and south sides. The crews brewed illegal beer in hidden warehouses, and drove liquor down from Canada to distribute in secretive bars. Chicago had thousands of these “speakeasy” bars that had no storefront and could only be entered through a side door with a peephole. Patrons in flapper dresses and zoot suits kept demand for alcohol high, and Moran and Capone’s gangs were lawless enough to supply it.</p>
      <p>Although the 18th Amendment’s intent was to curb violent and immoral behavior, the St. Valentine’s Day Massacre was a grim indicator of how poorly it worked. The more police cracked down on alcohol distribution, the more they revealed themselves to be out of their depth. The 21st Amendment was ratified on December 5, 1933, repealing the 18th Amendment for good.</p>
      <p>Slip into this prohibition-themed event with a game night that has something for everyone. Whether you want the roaring fun of black jack and rolling dice or the more reserved play of Werewolf and Munchkin, this Speakeasy will have the resources for you to make your own fun.</p>
    </div>
  </div>
</div>
