---
title: Windy City Night
---

<div class="row row-padding-bottom center windy-city-bg">
  <div class="row menu">
    <a href="#main-nav" class="open-menu">Menu <i class="fa fa-bars"></i></a>
    <a href="#" class="close-menu">Menu <i class="fa fa-bars"></i></a>
  </div>

  <!-- <div class="row row&#45;padding&#45;medium"> -->
  <!--   <div class="container"> -->
  <!--     <div class="full navigation"> -->
  <!--       <a href="/">Home</a> -->
  <!--       <a href="speak&#45;easy.html">Speak Easy Night</a> -->
  <!--       <a href="maker.html">Maker Night</a> -->
  <!--       <a href="windy&#45;city.html">Windy City Night</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <%= image_tag 'windy-city-2.png', :class => 'event-images padding-top-2' %>
  <%= image_tag 'sponsors-3.png', :class=> 'sponsors-logo' %>
</div>

<div class="row row-padding-medium">
  <div class="container clearfix headline-border">
    <ul class="one-half column share">
      <li><div class="fb-share-button" data-type="button"></div></li>
      <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <!-- <li><a href="#"><img src="images/facebook&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/twitter&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/linkedin&#45;share&#45;icon.png"></a></li> -->
      <!-- <li><a href="#"><img src="images/google&#45;share&#45;icon.png"></a></li> -->
    </ul>

    <div class="one-half column text-right">
      <a href="maker.html" class="prev-btn">Previous</a>
    </div>
  </div>
</div>

<div class="row row-padding-small clearfix">
  <div class="container">
    <div class="one-fourth column">
      <h3>Details</h3>
      <div class="event-details">
        <p>
          <span><strong>When:</strong></span> April 24, 2014
          <span>6pm - 9pm</span>
        </p>
        <p>
          <span><strong>Where</strong>:<span>
          <span>Dev Bootcamp</span>
          <span>351 W Hubbard St</span>
          <span>Chicago, IL 60654</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/351+W+Hubbard+St/@41.889911,-87.637657,14z/data=!4m2!3m1!1s0x880e2cb611081b97:0x424149647242f83e?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Food</strong>:<span>
          <span>Chicago style pizza and beer will be provided.</span>
        </p>
        <p>
          <span><strong>Overflow/After:</strong></span>
          <span>The Grid</span>
          <span><a target="_blank" href="https://www.google.com/maps/place/The+Grid/@41.889916,-87.637565,17z/data=!3m1!4b1!4m2!3m1!1s0x880e2cb60e39b5ad:0x6f898e0fda2f99b1?hl=en-US">View Map</a></span>
        </p>
        <p>
          <span><strong>Events</strong>:<span>
          <span>Storytelling - Lea Thau</span>
        </p>
        <a class="register-btn gradient" href="https://www.eventbrite.com/e/city-of-broad-shoulders-windy-city-night-tickets-11194375679">Buy Tickets</a>
      </div>
    </div>

    <div class="two-thirds column right-padding reverse-float">
      <h2>Windy City Night</h2>
      <p>Chicago’s distinction as the Windy City doesn’t just refer to its blustery weather. From the Tribune to the Sun Times, Chicago has a long history of exceptional, though sometimes long-winded, storytelling. Genre-defining writers like Roger Ebert and Studs Terkel have called Chicago home, while the Second City continues to serve as a launching pad for some of the best and most respected storytellers like Tina Fey, Stephen Colbert, and Amy Poehler.</p>
      <p>For the event’s final night, Lea Thau will host a training session to help improve communication and storytelling skills. Thau is a Peabody Award-winning producer and director who created and hosted Strangers and the immensely popular Moth Podcast and The Moth Radio Hour.</p>
    </div>
  </div>
</div>
